<h1>Calories per day</h1>

<h2>For Breakfast... You will eat </h2>
<%= @breakfast[0] %> -> <%= @break_cal[0] %> <br>
<%= @breakfast[1] %> -> <%= @break_cal[1] %> <br>
<%= @breakfast[2] %> -> <%= @break_cal[2] %> <br>
<h2>And calories that u will eat is <%= @sum_break_cal %> </h2>
------------------------------------------

<h2>For Lunch... You will eat </h2>
<%= @lunch[0] %> -> <%= @lunch_cal[0] %> <br>
<%= @lunch[1] %> -> <%= @lunch_cal[1] %> <br>
<%= @lunch[2] %> -> <%= @lunch_cal[2] %> <br><br>
<h2>And calories that u will eat is <%= @sum_lunch_cal %> </h2>
------------------------------------------

<h2>For Dinner... You will eat </h2>
<%= @dinner[0] %> -> <%= @dinner_cal[0] %> <br>
<%= @dinner[1] %> -> <%= @dinner_cal[1] %> <br>
<%= @dinner[2] %> -> <%= @dinner_cal[2] %> <br><br>
<h2>And calories that u will eat is <%= @sum_dinner_cal %> </h2>
--------------------------------------------

<h2>Total Calories: <%= @sum_calories %></h2>